<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
    <style>
        {% block css %} {% endblock %}
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/shop">My Teddy Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="navHome">
                    <a class="nav-link" href="/shop">Home</a>
                </li>
                <li class="nav-item" id="navAbout">
                    <a class="nav-link" href="/shop/about">About Us</a>
                </li>
                <li class="nav-item" id="navBlog">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item" id="navContact">
                    <a class="nav-link" href="/shop/contact">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/shop/search/" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- checking for the user is logged in or not to show buttons accordingly-->
            <!-- if logged in (user.is_authenticated)-->
            {% if request.user.is_authenticated %}
                <div class="btn-group ml-2">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logged in as <b>{{request.user}}</b>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/shop/tracker"><b>Tracker</b></a>
                        <a class="dropdown-item" href="/shop/checkout"><b>Checkout</b></a>
                        <a class="dropdown-item" href="/shop/myorders"><b>My Orders</b></a>
                        <a class="dropdown-item" href="/shop/logout"><b>Logout</b></a>
                    </div>
                </div>
            {% else %}
                <!--otherwise show singup and login button-->
                <!-- Button trigger sign modal -->
                <button type="button" class="btn btn-outline-light ml-2 mr-2" data-toggle="modal"
                    data-target="#singupModal">Signup</button>
                <!-- Button trigger for login modal-->
                <button type="button" class="btn btn-outline-light mr-2" data-toggle="modal"
                    data-target="#loginModal">Login</button>
            {% endif %}
            <!-- Button trigger modal -->
            <a href="/shop/cartview"><button type="button" class="btn btn-light mx-2" id="modalcart">Cart(<span id="cart">0</span>)
            </button></a>
        </div>
    </nav>

    {% comment %} template for showing alert messages {% endcomment %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    {% block body %} {% endblock %}

     <!--Login and sing up modals-->

    <!--Sign up Modal  form-->
    <form method="post" action="/shop/signup" autocomplete="on">{% csrf_token %}
        <div class="modal fade" id="singupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary" style="color:white">
                        <h5 class="modal-title" id="signupModalLabel">Sign up Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="signupmessage"></div>
                        
                        <div class="form-group">
                            <label for="username">Choose a unique username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username (lowercase & alphanumeric" autofocus required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="fname">Enter First Name:</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name" required>
                            </div>
                            <div class="form-group col">
                                <label for="lname">Enter Last Name:</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Enter Your E-mail:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter E-mail" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="password1">Choose a Password:</label>
                                <input type="password" class="form-control" id="password1" name="password1"
                                    placeholder="Choose Password" required autocomplete="off">
                            </div>
                            <div class="form-group col">
                                <label for="password2">Confirm Password:</label>
                                <input type="password" class="form-control" id="password2" name="password2"
                                    placeholder="Confirm Password" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--login Modal form -->
    <form method="post" action="/shop/login" autocomplete="on">{% csrf_token %}
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary" style="color:white">
                        <h5 class="modal-title" id="loginModalLabel">Login Here</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="loginmessage"></div>

                        <div class="form-group">
                            <label for="loginusername">Username:</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter Username" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="loginpassword">Password:</label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter Password" required autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="float-left btn btn-secondary ml-2" data-toggle="modal" data-target="#singupModal" data-dismiss="modal">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        
    <script>
        //function to update the cart popover in navbar with items
        function updateCartModal(cart){
            var sum=0;
            for (var item in cart){
                sum=sum+cart[item].qty;
            }
            document.getElementById('cart').innerHTML = sum;
        }
        
    </script>
    {% block js %}{% endblock %}
</body>

</html>