{% extends 'shop/basic.html' %}

{% block title%}{{product.product_name}} | My Teddy Shop{% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <img src="/media/{{product.image}}" width="100%" height="100%">
            <hr>
            <button class="btn btn-danger">Buy Now</button>
            <span id="divpr{{product.id}}" class="float-right divpr">
              <button id="pr{{product.id}}" class="btn btn-primary cart">Add To Cart</button>
            </span>
        </div>
        <div class="col-md-7">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs.{{product.price}} </b></p>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  // Find out the cart items from localStorage
  if (localStorage.getItem('cart') == null) {
      var cart = {};
  } else {
      cart = JSON.parse(localStorage.getItem('cart'));
  }
  updateCart(cart);
  //method on click of the add to card button
  $('.divpr').on('click', 'button.cart', function(){
    var idstr = this.id.toString();
    var itemName = document.getElementById(idstr).value.toString();
    if (cart[idstr] != undefined) {
      cart[idstr].qty = cart[idstr].qty + 1;
    } else {
      cart[idstr] = {'qty':1,'itemName':itemName};
    }
    updateCart(cart);
  });
  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function() {
      a = this.id.slice(7, );
      cart['pr' + a].qty = cart['pr' + a].qty - 1;
      cart['pr' + a].qty = Math.max(0, cart['pr' + a].qty);
      if(cart['pr'+a].qty == 0){
        document.getElementById('divpr' + a).innerHTML = '<button id="pr' + a + '" class="btn btn-primary cart" value="'+cart['pr'+a].itemName+'">Add To Cart</button>';
      }else{
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a].qty;
      }
      updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function() {
      a = this.id.slice(6, );
      cart['pr' + a].qty = cart['pr' + a].qty + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a].qty;
      updateCart(cart);
  });

  //FUNCTIONS
  function updateCart(cart) {
    if(cart['pr'+{{product.id}}]!=null && cart['pr'+{{product.id}}].qty>0){
      document.getElementById('divpr' + {{product.id}}).innerHTML = "<button id='minuspr" + {{product.id}} + "' class='btn btn-primary minus'>-</button> <span id='valpr" + {{product.id}} + "''>" + cart['pr'+{{product.id}}].qty + "</span> <button id='pluspr" + {{product.id}} + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    updateCartModal(cart);
  }
  //function to clear the cart
  function clearCart() {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('divpr' + {{product.id}}).innerHTML = '<button id="pr' + {{product.id}} + '" class="btn btn-primary cart" value="'+cart['pr'+{{product.id}}].itemName+'">Add To Cart</button>';
      localStorage.clear();
      cart = {};
      updateCart(cart);
  }
  
</script>
{% endblock %}