{% extends 'shop/basic.html' %}

{% block title%}Search | My Teddy Shop{% endblock %}
{% block body %} This is search page {% endblock %}
{% block js %}
<script>
    // Find out the cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    updateCartModal(cart);
    function clearCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        localStorage.clear();
        cart = {};
        updateCartModal(cart);
    }
</script>
{% endblock %}